extends layout

block content
  
  .container
    hr(style="margin-top: 160px; padding:1.5px; background-color:#678983")
    h1(style="text-align:center; font-size: 58px;color:#678983") Blockchain Project 
    hr(style="color:black;padding:1.5px;background-color:#678983")
    br
    p(style="text-align:center;font-size: 42px;color:#181D31") Presented by 
    br
    p(style="text-align:center;font-size: 40px;color:#181D31") Rania Charef & Sarra Sabbagh
    br
    p(style="text-align:center;font-size: 36px;color:#181D31") ISITCom - 3 DNI 2
      

