extends layout

block content
  //- a(href='https://github.com/anders94/blockchain-demo/')
  //-   img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Blockchain Project 
   
    br
    p.pull-center Presented by Rania Charef & Sarra Sabbagh
      
