extends layout

block content
  
  .container
    h1(style="text-align:center;padding-top: 160px; font-size: 48px;color:#678983") Blockchain Project 
   
    br
    p(style="text-align:center;font-size: 32px;color:#181D31") Presented by 
    br
    p(style="text-align:center;font-size: 30px;color:#181D31") Rania Charef & Sarra Sabbagh
    br
    p(style="text-align:center;font-size: 26px;color:#181D31") ISITCom - 3 DNI 2
      

